<p>Welcome to HANGMAN, the original do-or-die game.</p>
<br>
<p> What should I call you?</p>
<form action="/player_name" method="post">
    <input type="text" name="player" autofocus placeholder="Enter your name">
    <input type="submit">
</form>
