<!DOCTYPE html>
<html lang="en">

    <body>
      <center>
      	<div class="header-container">
              <h1 id="header"><a>Classic Hangman Game</a></h1>
        </div>
          <header>
        <ul class="textstyle">
                <!--<li><a href="/">Home</a></li><-->
                <li><a href="/player_name">Play</a></li>
            </ul>
          </header>
     </body>



</html>
