<!DOCTYPE html>
<html lang="en">

    <body>
      <center>
      	<div class="header-container">
              <h1 id="header"><a><p>Welcome to HANGMAN</p></a></h1>
              <h2 id="header"><a><p>The original do-or-die game</p></a></h1>
        
        
        </div>
          <header>
        <ul class="textstyle">
                <!--<li><a href="/">Home</a></li><-->
                <li><a href="/get_word">Play</a></li>
            </ul>
          </header>
     </body>



</html>
