<!DOCTYPE html>
<html lang="en">

 <head>
    <title>HANGMAN</title>

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href = "css/style.css">
    <link rel="stylesheet" href = "css/responsive.css" media="screen and (max-width: 900px)">

 </head>

  <body>

   <%=yield%>



   </body>

<footer class='footer-container'><h3 id='footer'><a></a></h3>
        <center><p><a href = "http://www.theonion.com" target = "blank">HaNGMaN by Cyndi Bolton </a>&copy; 2016</p></center>
</footer>

</html>
