The word is <%= word %>.
<br>
<br>
Letters already guessed<%= guessed_letters.to_s %><br><br>
<br>
<br>
<form method="post" action="letter">
	<input type="text" name="letter" pattern="[a-z]" maxlength="1" placeholder= "Enter Letter" autofocus required>
	<input type="submit">
</form>
